{% extends 'base.html' %}

{% load staticfiles %}

{% block extra_head %}
<link type="text/css" rel="stylesheet" href= "{% static 'css/portfolio_card_styles.css' %}" >
{% endblock %}

{% block content %}

<div class="porfolios-card-view">
	<h3 class="porf-header">{{ portfolio_item.name|upper }}</h3>
	<div class="portf-images-container">
		<div class="portf-images">
			<a href="{{portfolio_main_image.url}}" class="portf-main-img-container jqImgViewer-main-img-cont">
				<img src="{{portfolio_main_image.url}}">
				<div class="jqImgViewer-arrow jqImgViewer-arrow-left"><img src="{% static 'images/slider-arrow-left.png' %}"></div>
				<div class="jqImgViewer-arrow jqImgViewer-arrow-right"><img src="{% static 'images/slider-arrow-right.png' %}"></div>
			</a>
			<a href="{{portfolio_main_image.url}}" class="portf-othet-img-container jqImgViewer-other-img-cont jqImgViewer-selected-item"><img src="{{portfolio_main_image.url}}"></a>
			{% for image in portfolio_images %}
				<a href="{{image.image.url}}" class="portf-othet-img-container jqImgViewer-other-img-cont"><img src="{{image.image.url}}"></a>
			{% endfor %}
		</div>
	</div>
	<div class="portf-descript">
		{% if portfolio_item.description %}
			<hr>
			<div>{{ portfolio_item.description }}</div>
			<hr>
		{% endif %}
	</div>
</div>

<script type="text/javascript" src="{% static 'js/jq_img_viewer_w_preview.js' %}"></script>

{% endblock %}