{% extends 'base.html' %}

{% load staticfiles %}

{% block extra_head %}
<link type="text/css" rel="stylesheet" href= "{% static 'css/home_styles.css' %}" >
{% endblock %}

{% block content %}

<div class="kdpv">
    <img src="{% static 'images/kdpv_2_ps.jpg' %}">
    <img src="{% static 'images/kdpv_1.jpg' %}">
    <img src="{% static 'images/kdpv_3.jpg' %}">
    <img src="{% static 'images/kdpv_4.jpg' %}">
    <div class="kdpv-btn-cntr">
        КУХНЯ НА ЗАКАЗ ЗА <span>7 ДНЕЙ</span>
    </div>
    <div class="kdpv-btn-cntr2">
        выберите готовый проект, или воспользуйтесь нашей услугой <span>профессионального дизайна</span> совершенно <span>бесплатно</span>
    </div>
</div>

<div class="features">
    <div class="our-features-title">СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ</div>
    <div class="inner-wrapper">
        <div>
        <div class="feature active-feature">
            МОБИЛЬНЫЙ ОФИС
            <img src="mob.png">
            <div class="feature-dscrpt">
                &#8226; FHJGJLorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                &#8226; fsgsfgDuis enim leo, commodo et urna eu, lacinia commodo orci.<br>
                &#8226; Phkhjkraesent quis ante euismod eros facilisis varius.
            </div>
        </div>
        <div class="feature">
            ДОСТУПНАЯ ЦЕНА
            <img src="mob.png">
             <div class="feature-dscrpt">
                &#8226; FHJGJLorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                &#8226; fsgsfgDuis enim leo, commodo et urna eu, lacinia commodo orci.<br>
                &#8226; Phkhjkraesent quis ante euismod eros facilisis varius.
            </div>
        </div>
        <div class="feature">
            БЕСПЛАТНАЯ ДОСТАВКА
            <img src="mob.png">
             <div class="feature-dscrpt">
                &#8226; FHJGJLorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                &#8226; fsgsfgDuis enim leo, commodo et urna eu, lacinia commodo orci.<br>
                &#8226; Phkhjkraesent quis ante euismod eros facilisis varius.
            </div>
        </div>
        <div class="feature">
            ЕЩЕ ПРИЕМУЩЕСТВО
            <img src="mob.png">
             <div class="feature-dscrpt">
                &#8226; FHJGJLorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                &#8226; fsgsfgDuis enim leo, commodo et urna eu, lacinia commodo orci.<br>
                &#8226; Phkhjkraesent quis ante euismod eros facilisis varius.
            </div>
        </div>
        <div class="feature">
            ЕЩЕ ПРИЕМУЩЕСТВО
            <img src="mob.png">
             <div class="feature-dscrpt">
                &#8226; FHJGJLorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                &#8226; fsgsfgDuis enim leo, commodo et urna eu, lacinia commodo orci.<br>
                &#8226; Phkhjkraesent quis ante euismod eros facilisis varius.
            </div>
        </div>
        <div class="spacer" style="clear: both;"></div>
        </div>
        <div class="feature_descript">
<!--            &#8226; Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
            &#8226; Duis enim leo, commodo et urna eu, lacinia commodo orci.<br>
            &#8226; Praesent quis ante euismod eros facilisis varius.-->
        </div>
    </div>
</div>

<div class="portf-icons">
    <div class="portf-title">НАШИ РАБОТЫ</div>
    <div class="inner-wrapper">
        {% for product in products %}
            <div class="portf-item-outer">
                <a class="portf-item-inner" href="/product/{{ product.id }}">
                    {% if product.main_image %}
                        <img src="{{ product.main_image.url }}">
                    {% else %}
                        <img src="{{ MEDIA_URL }}/default/NO_IMAGE.png">
                    {% endif %}
                    <div class="portf-item-name">
                        {{product.name|upper}}
                    </div>
                    <div class="portf-item-shortdescript">
                        {{product.description|truncatechars:120}}
                    </div>
                </a>
            </div>
        {% endfor %}
        <div class="spacer" style="clear: both;"></div>
        <a href="/catalog/catid25_Kuhni/" class="to-catalog-btn">ЕЩЕ БОЛЬШЕ МЕБЕЛИ В КАТАЛОГЕ<br><span>...</span></a>
    </div>
</div>

<div class="client-meanings">
    <div class="inner-wrapper">
        <div class="meanings-title">МНЕНИЕ ЗАКАЗЧИКОВ</div>
        <div class="meaning-area">
            <div class="big-quote"><img src="{% static 'images/quote.png' %}"></div>
            <div class="meaning">
                <div class="meaning-name"></div>
                <div class="meaning-product"></div>
                <div class="meaning-text"></div>
                    <div class="next-meaning-btn">
                        <div>Следующий<br>отзыв</div>
                        <div><span>&nbsp;&gt;</span></div>
                    </div>
            </div>
            <div class="spacer" style="clear: both;"></div>
            <div class="meanings-array-for-script" style="display:none">
                <div class="meaning-for-script">
                    <div>Клиент имя1</div>
                    <div>Кухня из массива</div>
                    <div>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis enim leo, commodo et urna eu, lacinia commodo orci. Praesent quis ante euismod eros facilisis varius. Mauris non pharetra ipsum, et bibendum leo. Donec nec tellus sodales, scelerisque ex quis, tempus ante. Pellentesque tincidunt orci nec sapien tincidunt, quis tempus augue euismod."</div>
                </div>
                <div class="meaning-for-script">
                    <div>Клиент имя2</div>
                    <div>Кухня из массива2</div>
                    <div>"Praesent quis ante euismod eros facilisis varius. Mauris non pharetra ipsum, et bibendum leo. Donec nec tellus sodales, scelerisque ex quis, tempus ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis enim leo, commodo et urna eu, lacinia commodo orci. Pellentesque tincidunt orci nec sapien tincidunt, quis tempus augue euismod."</div>
                </div>                
            </div>
        </div>
    </div>
</div>




<div class="feedback">
    <div class="inner-wrapper">
        <div class="feedback-title"><a name="about"></a>О КОМПАНИИ</div>
        <div>Компания "BerryHouse" - это коллектив профессионалов, которые помогут Вам сделать правильный выбор. Мы не создаем случайные модели, выбор каждого элемента, дизайна, цветовой гаммы и фурнитуры обусловлен причинами, которые позволяют сделать Ваш дом чуточку лучше, красивее, удобнее и стильнее. Больше Вам не придется задумываться и составлять целый список магазинов, которые необходимо посетить, чтобы обустроить свою квартиру. Современный город мебели ждет Вас в Москве, а мы поможем в нем не потеряться!</div>
        <div class="feedback-title">КОНТАКТЫ</div>
        Позвоните, напишите или закажите обратный звонок, и мы ответим на все интересующие вас вопросы
        <div class="fdbk_company_contacts">
                <div>+7(499)390-777-8</div>
                <div>+7(925)576-14-99</div>
                <div>info@dommebel-citi.ru</div>
        </div>
        Так же вы можете отправить свой вопрос, пожелание, или отзыв в форме ниже
        <div class="fdbk_form">
            <div class="fdbk_contact">
                <input type="text" placeholder="Ваше имя *">
                <input type="text" placeholder="+7 XXX XXXXXXX">
                <input type="text" placeholder="E-mail">
            </div>
            <div class="fdbk_msg">
                <textarea type="text" placeholder="Сообщение *"></textarea>
            </div>
            <input type="submit" value="Отправить" class="submit-btn">
        </div>
    </div>
</div>

<style type="text/css">
    .client-meanings {
        background-image: url("{% static 'images/crosspatern.png' %}");
    }
</style>

<script type="text/javascript">
    $(document).ready(function() {

        var timer_next_img = setInterval(next_img, 7000);
        var img_quantity = $('.kdpv img').length;
        var curr_img_index = 1;
        var prev_img_index = img_quantity;

        $('.kdpv img').slice(1).css({'display':'none'});
        $('.kdpv img:first-child').addClass('jq-sliding-down');

        next_img();

        function next_img() {
            $('.kdpv img:nth-child('+prev_img_index+')')
                .fadeOut(2000, function(){
                    $(this).removeClass('jq-sliding-down')
                });
            $('.kdpv img:nth-child('+curr_img_index+')')
                .fadeIn(2000)
                .addClass('jq-sliding-down');
            prev_img_index = curr_img_index;
            curr_img_index = curr_img_index + 1;
            if (curr_img_index > img_quantity)
                curr_img_index = 1;
        };
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        var meanings_quantity = $('.meanings-array-for-script > div').length;
        var curr_meaning_index = 0;

        next_meaning();

        $(".next-meaning-btn").click(next_meaning);

        function next_meaning() {
            curr_meaning_index = curr_meaning_index + 1;
            if (curr_meaning_index > meanings_quantity) {
                curr_meaning_index = 1;
            };
            var next_meaning_name = $('.meaning-for-script:nth-child('+curr_meaning_index+') div:nth-child(1)').text();
            var next_meaning_product = $('.meaning-for-script:nth-child('+curr_meaning_index+') div:nth-child(2)').text();
            var next_meaning_text = $('.meaning-for-script:nth-child('+curr_meaning_index+') div:nth-child(3)').text();
            $('.meaning-text, .meaning-name, .meaning-product').animate({"opacity":"0"}, 100, function(){
                $('.meaning-name').text(next_meaning_name);
                $('.meaning-product').text(next_meaning_product);
                $('.meaning-text').text(next_meaning_text);
                $(this).css({'margin-left':'50%', 'margin-right':'-50%'});
            });

           $('.meaning-text').delay(100).animate({"opacity":"1", 'margin-left':'0', 'margin-right':'0'}, 1000);
           $('.meaning-name').delay(0).animate({"opacity":"1", 'margin-left':'0', 'margin-right':'0'}, 800);
           $('.meaning-product').delay(100).animate({"opacity":"1", 'margin-left':'0', 'margin-right':'0'}, 800);

        };
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        // var timer_next_feature setInterval(next_feature, 7000);
        var features_quantity = $('.feature').length;

        var ffff = $('.active-feature > .feature-dscrpt', this).html();
        $('.feature_descript').html(ffff);

        $('.feature').mouseenter( function(){
            var featue_descript = $(' > .feature-dscrpt', this).html();
            // alert(featue_descript);
            $('.feature').removeClass('active-feature');
            $(this).addClass('active-feature');
            $('.feature_descript').html(featue_descript);
        });

        function next_feature() {

        };

    });
</script>

<style type="text/css">
    .jq-sliding-down {
        transition: transform 70s linear;
        transform: translateY(-20%);
    }
    .feature-dscrpt {
        display:none;
    }
    .active-feature {
        background-color: #ffffff20;
    }
</style>

{% endblock %}