.kdpv {
    /*height: 60%;*/
    height: 550px;
    overflow: hidden;
    position: relative;
}
.kdpv img {
    position: absolute;
    left: -9999px;
    right: -9999px;
    margin: auto;
    /*width: 600px;*/
    width: 100%;
    margin: auto;
    min-width: 1920px;
    /*height: 100%;*/
    /*top: -50%;*/
    top: -500px;
    /*bottom: -50%;*/
    /*margin-top: -600px;*/
    /*transform: none;*/
    /*transition: transform 60s linear;*/
}
/*.sliding_down img {
    transition: transform 60s linear;
    transform: translateY(-20%);
}*/

.kdpv-btn-cntr, .kdpv-btn-cntr2 {
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
    box-sizing: border-box;
    color: white;
    display: block;
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: 600;
    left: 0;
    margin: auto;
    max-width: 850px;
    position: absolute;
    padding: 0.15em 1em;
    right: 0%;
    /*top: 30%;*/
    text-align: center;
    width: 95%;
}
.kdpv-btn-cntr {
    bottom: 55%;
}
.kdpv-btn-cntr span{
    color: red;
    white-space: nowrap;
}
.kdpv-btn-cntr2 {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    color: #313131;
    font-size: 1.1rem;
    font-weight: 600;
    max-width: 700px;
    top: 70%;
    width: 85%;
}
.kdpv-btn-cntr2 span {
    color: firebrick;
    white-space: nowrap;
}
@media screen and (max-width: 840px) {
    .kdpv-btn-cntr { top: 10%; bottom: auto; }
}



.features {
    width: 100%;
    background-color: #202020;
    /*height: 250px;*/
    color: #fff;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.our-features-title {
    width: 100%;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;            
}

.feature {
    background-color: #ffffff00;
    box-sizing: border-box;
    border-right: 2px solid transparent;
    border-image: linear-gradient(to top, transparent 0%, rgba(255, 255, 255, 0.23) 50%, transparent 100%);
    border-image-slice: 1;
    display: block;
    float: left;
    font-size: 0.8em;
    height: 50px;
    padding: 10px 5px;
    margin-bottom: 20px;
    transition: background-color 200ms ease-out;
    width: 20%;
}
.feature img{
    height: 30px;
    float: right;
}
.feature:last-child {
    border: none;
}
.feature:hover {
    background-color: #ffffff20;
}
.feature_descript {
    text-align: left;
    padding: 20px 4rem 20px;
    line-height: 40px;
    border-top: 2px solid transparent;
    border-image: linear-gradient(to right, transparent 0%, #b4b4b4 50%, transparent 100%);
    border-image-slice: 1;
}


.portf-icons {
    width: 100%;
    /*background-color: #c0c0c0;*/
}
.portf-title{
    width: 100%;
    color: #444;
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin: 50px auto 20px;
}

.portf-icon {
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    /*float: left;*/
    margin: 20px;
    box-shadow: inset 7px 7px 26px -13px rgba(0,0,0,0.75);
}

.icon-photo {
    height: 180px;
    width: 270px;
    margin: 10px 15px 10px;
    background-color: red;
}

.portf-item-outer {
    display: block;
    height: 280px;
/*    background-color: green;*/
    margin: 10px auto;
    padding-top: 10px;
    float: left;
    width: 25%;
}
.portf-item-inner {
    display: block;
    background-color: rgba(255,255,255,0.7);
    height: inherit;
    width: 320px;
    margin: auto;
    padding-top: 10px;
/*  border: 2px green solid;*/
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.portf-item-inner img {
    display: block;
    margin: auto;
    height: 215px;
    max-width: 95%;
    outline: 6px solid rgba(255, 255, 255, 0.4);
    outline-offset: -6px;
    transition: outline-color 500ms ease-out; ;
    -webkit-transition: outline-color 500ms ease-out; 
    -moz-transition: outline-color 500ms ease-out;
    -o-transition: outline-color 500ms ease-out;
}
.portf-item-name {
    display: block;
    width: 100%;
    height: 22px;
    text-align: center;
    background-color: #75a98a;
    color: white;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 10px;
}
.portf-item-shortdescript {
    display: block;
    text-align: center;
    color: black;
    font-size: 0.7em;
    margin-top: 5px;
    padding: 0 10px;
    height: 0px;
    overflow: hidden;
    background-color: rgb(255,255,255);
    -webkit-transition: height 500ms ease-out; 
    -moz-transition: height 500ms ease-out;
    -o-transition: height 500ms ease-out;
}
.portf-item-inner:hover {
    box-shadow: 0 0 15px rgb(0, 0, 0);
}
.portf-item-inner:hover img {
    outline-color: rgba(255, 255, 255, 0.1);
}
.portf-item-inner:hover .portf-item-shortdescript {
    height: 50px;
}
@media screen and (max-width: 1300px) {
    .portf-item-outer { width: 33%; }
}
@media screen and (max-width: 990px) {
    .portf-item-outer { width: 50%; }
}
@media screen and (max-width: 660px) {
    .portf-item-outer { width: 100%; }
}

.to-catalog-btn {
    border-radius: 10px;
    box-sizing: border-box;
    border: 3px solid;
    border-color: #75a98a;
    background-color: #75a98a;
    box-shadow: 0px 2px 8px -1px black;
    color: #ffffff;
    display: block;
    font-family: sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    height: 60px;
    margin: 30px auto 50px;
    max-width: 500px;
    text-align: center;
    text-decoration: none;
    transition: background-color 300ms ease-out, color 300ms ease-out;
    width: 95%;
}
.to-catalog-btn span {
    font-size: 3em;
    line-height: 0px;
    font-family: monospace;
}
.to-catalog-btn:hover {
    background-color: #f0f0f0;
    color: #186b3a;
    border-color: #186b3a;
}


.client-meanings {
    display: block;
    background-color: white;
    /*background-image: url("crosspatern.png");*/
    background-size: 100px 100px;
    padding-top: 1px;
    width: 100%;
    padding-bottom: 50px;
    overflow: hidden;
}
.meanings-title {
    color: #282a2c;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin: 40px auto 30px;
}
.meaning-area {
    display: block;
    width: 100%;
    position: relative;
}
.big-quote{
    width: 250px;
    height: 250px;
    float: left;
}
.big-quote img{
    width: inherit;
    height: inherit;
}
.meaning {
    display: block;
    padding: 20px 3rem;
    margin-left: 250px;
    font-style: italic;
    font-family: serif;
    font-size: 1.2rem;
}
.meaning-name {
    font-size: 1.2em;
    color: black;
    font-weight: bold;
}
.meaning-product {
    font-size: 0.9em;
    font-weight: bold;
    color: #888888;
    margin: 5px auto 20px;
}
.next-meaning-btn {
    cursor: pointer;
    position: absolute;
    /*bottom: 0;*/
    right: 4rem;
    text-align: center;
}
.next-meaning-btn div {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    color: #75a98a;
}
.next-meaning-btn div span {
    font-size: 4rem;
    font-weight: 800;
}
.next-meaning-btn:hover div {
    color: #186b3a;
}
@media screen and (max-width: 880px) {
    .big-quote { width: 150px; height: 150px; }
    .meaning { margin-left: 150px; }
}


.feedback {
    padding-top: 1px;
    width: 100%;
    background-color: #313336;
    color: #a0a0a0;
    text-align: center;
}
.feedback-title {
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin: 40px auto 10px;
}
.fdbk_company_contacts {
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    margin: 25px auto 60px;
}
.fdbk_company_contacts div {
    display: inline-block;
    margin: 0 50px;
}
.fdbk_form {
    display: block;
    /*height: 220px;*/
    max-width: 800px;
    margin: auto;
    padding-bottom: 40px;
    width: 95%;
}
.fdbk_contact {
    display: block;
    width: 47%;
    box-sizing: border-box;
    float: left;
}
.fdbk_contact input, .fdbk_msg textarea  {
    background-color: #282a2c;
    border: none;
    border-radius: 10px;
    border-radius: 30px;
    color: white;
    padding: 15px 30px 15px 20px;
    margin-top: 15px;
    outline: none;
    width: 100%;
}
.fdbk_msg {
    display: block;
    width: 47%;
    box-sizing: border-box;
    float: right;
}
.fdbk_msg textarea {
    height: 165px;
}

.submit-btn {
    border-radius: 40px;
    border: 1px solid;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 300;
    text-decoration: none;
    line-height: 1;
    letter-spacing: 1px;
    max-width: 100%;
    padding: 15px 26px;
    text-align: center;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    margin-top: 10px;
    transition: color 300ms ease-out, background-color 300ms ease-out;
    color: rgb(144,144,144);
}
.submit-btn:hover {
    /*color: rgb(191,191,191);*/
    color: black;
    background-color: rgb(144,144,144);
}
@media screen and (orientation: portrait) {
    .fdbk_contact, .fdbk_msg { width: 100%; }
}
